<a href="https://colab.research.google.com/github/InsupCode/ML_Interpretability/blob/main/Data_cleaning_Covid_numerical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd

Link - https://www.kaggle.com/datasets/meirnizri/covid19-dataset?resource=download

In [72]:
df = pd.read_csv("/content/Covid Data.csv")

In [73]:
df.shape

(1048575, 21)

In [50]:
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [51]:
df.columns

Index(['USMER', 'MEDICAL_UNIT', 'SEX', 'PATIENT_TYPE', 'DATE_DIED', 'INTUBED',
       'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR',
       'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL', 'ICU'],
      dtype='object')

Transform data with and without hospital data

In [74]:
df_clean = df.drop(columns=['PATIENT_TYPE', 'USMER','MEDICAL_UNIT','INTUBED','ICU','DATE_DIED'])

In [75]:
df_clean.shape

(1048575, 15)

In [15]:
df_clean.to_csv("df_no_hosp_data.csv",index=False)

Changing df_clean to binary classification problem

In [76]:
df_clean['CLASIFFICATION_FINAL'] = df_clean['CLASIFFICATION_FINAL'].map(lambda x: 1 if x<4 else 0)

In [18]:
df_clean.to_csv("df_no_hosp_data_binary.csv",index=False)

## Dropping missing values df

In [77]:
df_clean.shape

(1048575, 15)

In [78]:
df_clean.columns

Index(['SEX', 'PNEUMONIA', 'AGE', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA',
       'INMSUPR', 'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'CLASIFFICATION_FINAL'],
      dtype='object')

In [79]:
df_clean.nunique()

SEX                       2
PNEUMONIA                 3
AGE                     121
PREGNANT                  4
DIABETES                  3
COPD                      3
ASTHMA                    3
INMSUPR                   3
HIPERTENSION              3
OTHER_DISEASE             3
CARDIOVASCULAR            3
OBESITY                   3
RENAL_CHRONIC             3
TOBACCO                   3
CLASIFFICATION_FINAL      2
dtype: int64

In [58]:
df_no_mv = df_clean

In [59]:
no_mv_index = df_clean[(df_clean['PNEUMONIA'] > 3) | (df_clean['PREGNANT'] > 3) | (df_clean['DIABETES'] > 3) | (df_clean['COPD'] > 3) |
                    (df_clean['ASTHMA'] > 3) | (df_clean['INMSUPR'] > 3) | (df_clean['OTHER_DISEASE'] > 3) | (df_clean['CARDIOVASCULAR'] > 3) |
                    (df_clean['OBESITY'] > 3) | (df_clean['RENAL_CHRONIC'] > 3) | (df_clean['TOBACCO'] > 3) | (df_clean['HIPERTENSION'] > 3)].index

In [60]:
df_no_mv.drop(no_mv_index, inplace=True)

In [61]:
df_no_mv.nunique()

SEX                       1
PNEUMONIA                 2
AGE                     116
PREGNANT                  2
DIABETES                  2
COPD                      2
ASTHMA                    2
INMSUPR                   2
HIPERTENSION              2
OTHER_DISEASE             2
CARDIOVASCULAR            2
OBESITY                   2
RENAL_CHRONIC             2
TOBACCO                   2
CLASIFFICATION_FINAL      2
dtype: int64

In [62]:
df_no_mv.head()

,SEX,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,1,1,65,2,2,2,2,2,1,2,2,2,2,2,1
3,1,2,53,2,2,2,2,2,2,2,2,2,2,2,0
5,1,1,40,2,2,2,2,2,2,2,2,2,2,2,1
6,1,2,64,2,2,2,2,2,2,2,2,2,2,2,1
7,1,1,64,2,1,2,2,1,1,2,2,2,1,2,1

In [63]:
df_no_mv.shape

(510041, 15)

In [64]:
1048575-510041

538534

In [65]:
1048575/510041

2.0558641364125627

Half of the dataset is getting dropped.. so all missing values can't be removed

Checking how many missing values per column

In [80]:
missing_value = [97,98,99]

In [81]:
missing_counts = (df_clean.isin(missing_value)).sum()

In [82]:
missing_counts

SEX                          0
PNEUMONIA                16003
AGE                        345
PREGNANT                527265
DIABETES                  3338
COPD                      3003
ASTHMA                    2979
INMSUPR                   3404
HIPERTENSION              3104
OTHER_DISEASE             5045
CARDIOVASCULAR            3076
OBESITY                   3032
RENAL_CHRONIC             3006
TOBACCO                   3220
CLASIFFICATION_FINAL         0
dtype: int64

As we can see, more than 52000 values in the pregnant column are missing, we drop the column

In [83]:
df_clean2 = df_clean.drop(columns = ['PREGNANT'])

In [84]:
df_clean2.shape

(1048575, 14)

In [85]:
exclude_column = 'AGE'
df_cleaned2 = df_clean2[~df_clean2.drop(columns=[exclude_column]).isin(missing_value).any(axis=1)]
#df_cleaned = df[~df.drop(columns=[exclude_column]).isin(missing_values).any(axis=1)]

In [86]:
df_cleaned2.shape

(1025152, 14)

In [87]:
df_cleaned2.nunique()

SEX                       2
PNEUMONIA                 2
AGE                     121
DIABETES                  2
COPD                      2
ASTHMA                    2
INMSUPR                   2
HIPERTENSION              2
OTHER_DISEASE             2
CARDIOVASCULAR            2
OBESITY                   2
RENAL_CHRONIC             2
TOBACCO                   2
CLASIFFICATION_FINAL      2
dtype: int64

In [88]:
df_cleaned2.head()

,SEX,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,1,1,65,2,2,2,2,1,2,2,2,2,2,1
1,2,1,72,2,2,2,2,1,2,2,1,1,2,0
2,2,2,55,1,2,2,2,2,2,2,2,2,2,1
3,1,2,53,2,2,2,2,2,2,2,2,2,2,0
4,2,2,68,1,2,2,2,1,2,2,2,2,2,1

In [90]:
df_cleaned2.to_csv("df_cleaned_no2_mv_hosp.csv",index=False)

In [91]:
df_cleaned2.shape

(1025152, 14)

In [92]:
df.shape

(1048575, 21)

In [93]:
#Columns dropped
1048575-1025152

23423

In [96]:
23423*100/1048575

2.233793481629831